<div id="top-navigation" class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" id="main-menu">
                <li data-menuanchor="page-welcome" class="active">
                    <a href="#page-welcome">Home</a>
                </li>
                <li data-menuanchor="page-profile">
                    <a href="#page-profile">About</a>
                </li>
                <li data-menuanchor="page-contact">
                    <a href="#page-contact">Contact</a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
