/* ==========================================================================
Articulate v1.0
========================================================================== */

/* ==========================================================================
Base styles
========================================================================== */

html, body {
    font-family: "source-sans-pro", Helvetica, Arial, sans-serif;
    color: #757575;
}

img {
    max-width: 100%;
}

a:focus {
    /*border: 1px solid #e1e1e1;*/
    outline: 0;
}

a:hover,
a:active {
    text-decoration: none;
}

a img {
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "open-sans", sans-serif;
    font-weight: 700;
}

/* ==========================================================================
Navigation
========================================================================== */

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar-default {
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.85);
    border: none;
    color: #777;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    position: fixed;
}

.navbar-nav {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: inline-block;
    float: none;
    font-size: 1em;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background: none;
}

/* ==========================================================================
Layout
========================================================================== */

.page-welcome {
    text-align: center;
}

.page-welcome .container {
    margin-top: 55px;
}

.page-welcome header {
    color: #fff;
    padding-top: 45%;
    text-shadow: 0px 1px 1px #000;
}

.page-welcome header .name {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1em;
    text-transform: uppercase;
}

.page-welcome header p {
    font-size: 2em;
    display: inline-block;
    margin-bottom: 5px;
    padding: 0 8px;
    letter-spacing: 0.1em;
    line-height: 3em;
    text-transform: uppercase;
}

.page-welcome header .aka {
    font-family: "bitter", serif;
    font-size: 1.5em;
    margin: 0;
    padding-top: .75em;
    line-height: 2em;
    text-transform: none;
}

.page-welcome .welcome-slider {
    width: 100%;
    height: 100% !important;
    position: relative;
    overflow: hidden;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.page-profile {
    background: #fff;
}

.page-profile .profile-photo {
    border: 5px solid #333;
    width: 180px;
    height: 180px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
}

.page-contact {
	background: #555;
	color: #fff;
}

.page-contact .contact-info p {
    font-size: 1.2em;
}

.page-contact .contact-info a {
    color: #FFF;
}

.page-profile .section-subtitle,
.page-contact .section-subtitle {
    margin: 0;
}

.page-end {
	background: #555;
	color: #fff;
}

.footer {
    bottom: 0px;
    position: absolute;
    width: 100%;
    z-index: 10;
    color: #ccc;
}

.footer a.no-color {
    color: inherit;
    text-decoration: underline;
}

.footer a.no-color:hover {
    color: #eee;
}

/* ==========================================================================
Vegas slider
========================================================================== */

.vegas-loading {
    border-radius: 10px;
    background: #000;
    background: rgba(0, 0, 0, 0.7);
    background: url(//assets.zaahir.ca/img/loading.gif) no-repeat center center;
    height: 32px;
    left: 20px;
    position: fixed;
    top: 20px;
    width: 32px;
    z-index: 0;
}

.vegas-background {
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality;
    max-width: none !important; /* counteracts global img modification by twitter bootstrap library */
    z-index: -2;
}

.vegas-overlay,
.vegas-background {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slider-controls {
    opacity: 0;
    padding: 0;
    margin: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.slider-controls li {
    list-style: none;
}

.page-welcome:hover .slider-controls {
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.slider-controls li a {
    position: absolute;
    z-index: 10;
    top: 55%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.next {
    background: url("//assets.zaahir.ca/img/next.png");
    margin-right: 70px;
    right: 0;
    opacity: 0.3;
}

.prev {
    background: url("//assets.zaahir.ca/img/prev.png");
    margin-left: 70px;
    left: 0;
    opacity: 0.3;
}

.next:hover,
.prev:hover {
    opacity: 1;
}


/* ==========================================================================
Dividers
========================================================================== */

.section-header {
    text-align: center;
}

.section-header p {
    font-size: 1.5em;
}

.section-title {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;
    color: #555555;
    text-transform: uppercase;
    padding: 20px 0;
}

.spacer {
    width: 100px;
    height: 2px;
    margin: auto;
}

.section-subtitle {
    text-align: center;
    padding: 30px 0;
}

.section-subtitle img {
    width: 1.5em;
}

.section-subtitle p {
    margin: 0;
}

/* ==========================================================================
Social Icons & Buttons
========================================================================== */

.social-icons {
    list-style: none;
    padding: 0;
    padding-top: 10px;
}

.social-icons li {
    display: inline-block;
    margin: 0 7.5px
}

.social-icons a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.social-icons .btn.btn-clear {
    border: 1px solid #fff;
}

.btn-round {
    border-radius: 50%;
    padding: 0;
    width: auto;
}

.btn-round img {
    height: 60px;
    width: auto;
    padding: 10px;
}

.btn.btn-default {
    margin: 40px auto 0;
    background: transparent;
    position: relative;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    padding: 12px 26px 12px;
    cursor: pointer;
    border: 2px solid #4cddf3;
    border-radius: 0;
    letter-spacing: 2px;
    pointer-events: auto;
    border-color: #fff;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.btn.btn-default:hover, .btn.btn-default:active {
    background: #fff;
    border-color: #fff;
    color: #fff;
}

.btn.btn-clear {
    border: 1px solid #fff;
    color: #fff;
    background: none;
    background-color: transparent;
    font-weight: bold;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.btn.btn-clear:hover,
.btn.btn-clear.selected {
    background: #fff;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.btn-twitter:hover {
    color: #2BA9E0;
}

.btn-github:hover {
    color: #4183c4;
}

.btn-email:hover {
    color: #015786;
}

/* ==========================================================================
Helper classes
========================================================================== */

.left   { float: left; }

.right  { float: right; }

.text-center { text-align: center; }

.centered {
    margin-left: auto;
    margin-right: auto;
    float: none;``
}


/* ==========================================================================
Responsive Settings
========================================================================== */

@media(max-width: 992px) {

    .page-welcome header {
        padding-top: 25%;
    }

    .navbar-collapse.in {
        background-color: rgba(50, 50, 50, 0.05) !important;
        border-bottom: 1px solid rgba(85, 85, 85, 0.5);
    }

    .page-profile .profile-photo {
        margin: 0 auto 20px;
    }
}

/* Landscape */
@media(max-device-width: 736px) and (orientation: landscape) {

    .page-welcome header {
        padding-top: 10%;
    }

    .page-welcome header .name {
        font-size: 1.8em;
    }

    .section-title {
        font-size: 1.4em;
    }

    .section-header p {
        font-size: 1.1em;
    }

    .page-profile .profile-photo {
        display: none;
    }

    .btn-round img {
        height: 50px;
    }
}

@media(max-width: 479px) {

    .page-welcome header .name {
        font-size: 2em;
    }

    .page-welcome header p {
        font-size: 1em;
        line-height: 3em;
    }

    .section-title {
        font-size: 1.5em;
    }

    .section-header p {
        font-size: 1.2em;
    }

    .page-profile .profile-photo {
        margin: 0 auto 20px;
    }

    .page-profile .profile-photo {
        width: 130px;
        height: 130px;
    }

    .btn-round img {
        height: 70px;
    }

}
